{% load static %}  
  <script src="../static/js/components/MainCards.js"></script>
  <script src="../static/js/components/Purchases.js"></script>
  <script src="../static/js/components/Favorites.js"></script>
  <script src="../static/js/config/config.js"></script>
  <script src="../static/js/components/CardList.js"></script>
  <script src="../static/js/components/Header.js"></script>
  <script src="../static/js/api/Api.js"></script>
  <script src="../static/indexAuth.js"></script>
  <script src="../static/singlePageNotAuth.js"></script>
  <script src="../static/authorRecipe.js"></script>
  <script src="../static/favorite.js"></script>
  <script src="../static/formRecipe.js"></script>
  <script src="../static/indexNotAuth.js"></script>
  <script src="../static/myFollow.js"></script>
  <script src="../static/shopList.js"></script>
  {% if section == 'recipe' %}
    <script src="../../static/singlePage.js"></script>
  {% endif %}