<li class="shopping-list__item" data-id="{{purchase.recipe.pk}}">
    <div class="recipe recipe_reverse">
        <img src="{{ purchase.recipe.image.url }}" alt="какой-то текст" class="recipe__image recipe__image_big">
        <h3 class="recipe__title">{{ purchase.recipe.title }}</h3>
        <p class="recipe__text"><span class="icon-time"></span> {{purchase.recipe.cooking_time}} мин.</p>
    </div>
    <a href="{% url 'del_purchase' purchase.recipe.pk %}" class="shopping-list__button link">Удалить</a>
</li>