        <div class="card" data-id="{{ recipe.id }}">
            <a href="{% url 'recipe' recipe_id=recipe.id %}" class="link" target="_blank"><img src="{{ recipe.image.url }}" alt="Какой-то текст" class="card__image"></a>
            <div class="card__body">
                <a class="card__title link" href="{% url 'recipe' recipe_id=recipe.id %}" target="_blank">{{ recipe.title }}</a>
                <ul class="card__items">
                    {% for tag in recipe.tags.all %}
                        {% if tag.tag == 'L' %}
                            <li class="card__item"><span class="badge badge_style_green">Обед</span></li>
                        {% endif %}
                        {% if tag.tag == 'B' %}
                            <li class="card__item"><span class="badge badge_style_orange">Завтрак</span></li>
                        {% endif %}
                        {% if tag.tag == 'D' %}
                            <li class="card__item"><span class="badge badge_style_purple">Ужин</span></li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <div class="card__items card__items_column">
                    <p class="card__text"><span class="icon-time"></span> {{ recipe.cooking_time }} мин.</p>
                    <p class="card__text"><span class="icon-user"></span> <a href="{% url 'profile' username=recipe.author.username %}" style="color: black">{{ recipe.author.first_name }}</a></p>
                </div>
            </div>
            <div class="card__footer">
                {% csrf_token %}
                <button class="button button_style_light-blue" name="purchases" data-out><span class="icon-plus button__icon"></span>Добавить в покупки</button>
                <button class="button button_style_none" name="favorites" data-out><span class="icon-favorite"></span></button>
                
                <!--a href="{% url 'add_purchase' recipe.id %}" <button class="button button_style_light-blue" name="purchases" data-out><span class="icon-plus button__icon"></span>Добавить в покупки</button></a>
                
                {% if fav_recipes_count == 0 or not recipe.favorite_authors.exists %}
                    <a href="{% url 'add_favorite' recipe.id %}"<button class="button button_style_none" name="favorites" data-out><span class="icon-favorite"></span></button></a>
                {% else %}    
                    {% for fav_recipe in favorite_recipes %}
                        {% if fav_recipe.recipe == recipe %}
                            <a href="{% url 'del_favorite' recipe.id %}"<button class="button button_style_none" name="favorites"><span class="icon-favorite icon-favorite_active"></span></button></a>
                        {% endif %}
                    {% endfor %}
                {% endif %} -->
            </div>
        </div>