{% extends "base.html" %}

{% block title %}Рецепты{% endblock %}

{% block header %}{{ author.first_name }}{% endblock %}

{% block content %}
    <div class="author-subscribe" data-author="{{ author.pk }}">
        {% if is_follow %}
            <p style="padding: 0 0 2em 0;"><button class="button button_style_light-blue button_size_subscribe" name="subscribe">Отписаться от автора</button></a></p>
        {% else %}
            <button class="button button_style_light-blue button_size_subscribe" name="subscribe" data-out>Подписаться на автора</button></a></p>
        {% endif %}
    </div>
    <div class="card-list">
        {% for recipe in page %}
            {% include 'blocks/recipe.html' %}
        {% endfor %}
    </div>
{% endblock %}