<!doctype html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}Рецепты{% endblock %}</title>
        {% load static %}
        {% if section == 'follow' %}
            <link rel="stylesheet" href="{% static './pages/myFollow.css' %}">
        {% endif %}
        {% if section == 'shoplist' %}
            <link rel="stylesheet" href="{% static './pages/shopList.css' %}">
        {% endif %}
        {% if section == 'recipe' %}
            <link rel="stylesheet" href="{% static './pages/single.css' %}"
        {% else %}
            <link rel="stylesheet" href="{% static './pages/index.css' %}">
        {% endif %}

    </head>

    <body class="body">
        <header class="header">
            {% if user.is_authenticated %}
                {% include 'blocks/navAuth.html' %}
            {% else %}
                {% include 'blocks/navNotAuth.html' %}
            {% endif %}
        </header>
        <main class="main container">
            <div class="main__header">
                <h1 class="main__title">{% if section != 'recipe' %}{% block header %}Рецепты{% endblock %}{% endif %}</h1>
                {% if section == 'index' or section == 'favorite' or section == 'profile' %}
                    {% include 'blocks/tags.html' %}
                {% endif %}
            </div>
            
            {% block content %} 
                <!-- Содержимое страницы -->
            {% endblock %}

            {% if section != 'shoplist' and section != 'recipe' %}
                {% include 'blocks/paginator.html' %}
            {% endif %}
        </main>
        {% include 'blocks/footer.html' %}
        {% include 'blocks/jsscripts.html' %}
    </body>
</html>
