{% extends "base.html" %}

{% block title %}Создание рецепта{% endblock %}
{% block header %}Создание рецепта{% endblock %}

{% block content %}
    {% for error in form.errors %}
        <span class="form__error">
            {{ error }}
        </span>
    {% endfor %}
    <div class="form-container">
        <form class="form" method="post" enctype="multipart/form-data" action="{% url 'create_recipe' %}">
            {% csrf_token %}
            <div class="form__group">
                <label for="{{form.title.id}}" class="form__label">Название рецепта</label>
                <div class="form__field-group">
                    {{form.title}}
                </div>
            </div>
            <div class="form__group">
                <p class="form__label">Теги</p>
                <div class="form__field-group">
                    <div class="tags">
                         <div class="tags__item">
                            <input type="checkbox" name="breakfast" id="1" class="tags__checkbox tags__checkbox_style_orange">
                            <label for="1" class="tags__label">Завтрак</label>
                        </div>
                        <div class="tags__item">
                            <input type="checkbox" name="lunch" id="2" class="tags__checkbox tags__checkbox_style_green" checked>
                            <label for="2" class="tags__label">Обед</label>
                        </div>
                        <div class="tags__item">
                            <input type="checkbox" name="dinner" id="3" class="tags__checkbox tags__checkbox_style_purple" checked>
                            <label for="3" class="tags__label">Ужин</label>
                        </div>
                    </div>
                    <span class="form__error"></span>
                </div>
            </div>
            <div class="form__group">
                <label for="{{form.ingredients.label}}" class="form__label">Ингредиенты</label>
                <div class="form__field-group">
                    <div class="form__field-group-ingredientes">
                        <div class="form__dropdown">
                            <!--input type="text" id="nameIngredient" class="form__input"-->
                            {{form.ingredients}}
                            <div class="form__dropdown-items"></div>
                        </div>
                        <input type="number" id="cantidad" class="form__input" min="0">
                        <label for="cantidad" class="form__label" id="cantidadVal">шт.</label>
                    </div>
                    <div class="form__field-group-ingredientes-container">

                    </div>
                    <span class="form__ingredient-link" id="addIng">Добавить ингредиент</span>
                    <span class="form__error"></span>
                </div>
            </div>
            <div class="form__group">
                <label for="{{form.cooking_time.id}}" class="form__label">Время приготовления</label>
                <div class="form__field-group form__field-group_time">
                    {{form.cooking_time}}
                    <label for="{{form.cooking_time.id}}" class="form__label">минут</label>
                </div>
            </div>
            <div class="form__group">
                <label for="{{form.description.id}}" class="form__label">Описание</label>
                <div class="form__field-group">
                    {{form.description}}
                    <span class="form__error"></span>
                </div>
            </div>
            <div class="form__group">
                <label for="{{form.image.id}}" class="form__label">Загрузить фото</label>
                <!--span class="{{form.image.id}}">Загрузить фото</span-->
                <div class="form__field-group">
                    {{form.image}}
                    <!--input type="file" name="file" id="{{form.image.id}}"-->
                    <span class="form__error"></span>
                </div>
            </div>
            <div class="form__footer">
                <button class="button button_style_blue">Создать рецепт</button>
            </div>
        </form>
    </div>
{% endblock %}
