{% extends "base.html" %}

{% block title %}{{recipe.title}}{% endblock %}

{% block content %}

    <main class="main container">
        <div class="single-card" data-id="371" data-author="12">
            <img src="{{ recipe.image.url }}" alt="какой-то текст" class="single-card__image">
            <div class="single-card__info">
                <div class="single-card__header-info">
                    <h1 class="single-card__title">{{recipe.title}}</h1>
                    {% if user.is_authenticated %}
                    <div class="single-card__favorite">
                        <button class="button button_style_none" name="favorites" data-out><span class="icon-favorite icon-favorite_big"></span></button>
                        <div class="single-card__favorite-tooltip tooltip">Добавить в избранное</div>
                    </div>
                    {% endif %}
                </div>
                <ul class="single-card__items">
                    {% for tag in recipe.tags.all %}

                        {% if tag.tag == 'L' %}
                            <li class="single-card__item"><span class="badge badge_style_green">Обед</span></li>
                        {% endif %}
                        {% if tag.tag == 'B' %}
                            <li class="single-card__item"><span class="badge badge_style_orange">Завтрак</span></li>
                        {% endif %}
                        {% if tag.tag == 'D' %}
                            <li class="single-card__item"><span class="badge badge_style_purple">Ужин</span></li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <div class="single-card__items single-card__items_column">
                    <p class="single-card__text"><span class="icon-time"></span> {{recipe.cooking_time}} мин.</p>
                    <ul class="single-card__items">
                        <li class="single-card__item"><p class="single-card__text"><span class="icon-user"></span> {{recipe.author.first_name}}</p></li>
                        {% if user == recipe.author %}
                            <li class="single-card__item">  <a style="margin-left: 2.5em" href="#" class="single-card__text">Редактировать рецепт</a></li>
                        {% endif %}
                    </ul>
                </div>
                <ul class="single-card__items">
                    <a href="{% url 'add_purchase' recipe.id %}"<li class="single-card__item"><button class="button button_style_blue" name="purchases" data-out><span class="icon-plus"></span> Добавить в покупки</button></a></li>
                    {%if user.is_authenticated %}
                        <a href="{% url 'profile_follow' recipe.author.username %}"<li class="single-card__item"><button class="button button_style_light-blue button_size_subscribe" name="subscribe" data-out>Подписаться на автора</button></a></li>
                    {% endif %}
                </ul>
                <div class="single-card__section">
                    <h3 class="single-card__section-title">Ингридиенты:</h3>
                    <div class="single-card__items single-card__items_column">
                        {% for ingredient in ingredients %}
                            <p class=" single-card__section-item">{{ingredient}}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="single-card__section">
                    <h3 class="single-card__section-title">Описание:</h3>
                    <p class=" single-card__section-text">{{recipe.description}}</p>
                    <!--p class=" single-card__section-text">Полить сверху сиропом топинамбура и украсить ягодами.</p!-->
                </div>
            </div>
        </div>
    </main>

{% endblock %}