{% extends "recipes/base.html" %}

{% block title %}Изменить пароль{% endblock %}
{% block header %}Изменить пароль{% endblock %}

{% block content %}

    <div class="form-container">
        <form class="form" method="post">
            {% csrf_token %}
            <div class="form__group">
                <label for="{{ form.oldPassword.id_for_label }}" class="form__label">Старый пароль</label>
                <div class="form__field-group">
                    {{form.old_password}}
                    <span class="form__error"></span>
                </div>
            </div>
            <div class="form__group">
                <label for="{{ form.newPassword.id_for_label }}" class="form__label">Новый пароль</label>
                <div class="form__field-group">
                    {{form.new_password1}}
                    <span class="form__input-info">- Ваш пароль не должен совпадать с вашим именем или другой персональной информацией или быть слишком похожим на неё.</span>
                    <span class="form__input-info">- Ваш пароль должен содержать как минимум 8 символов.</span>
                    <span class="form__input-info">- Ваш пароль не может быть одним из широко распространённых паролей.</span>
                    <span class="form__input-info">- Ваш пароль не может состоять только из цифр.</span>
                    <span class="form__error"></span>
                </div>
            </div>
            <div class="form__group">
                <label for="{{ form.confirmPassword.id_for_label }}" class="form__label">Подтверждение нового пароля</label>
                <div class="form__field-group">
                    {{ form.new_password2 }}
                    <span class="form__error"></span>
                </div>
            </div>
                <div class="form__footer">
                    <button type="submit" class="button button_style_blue">Изменить пароль</button>
                </div>
        </form>
    </div>

{% endblock %}