django-project
django
djangorestframework
djangorestframework-simplejwt
django-filter
Pillow
Wheel
Paginator
djangorestframework
djangorestframework-simplejwt
django-filter
reportlab
gunicorn
psycopg2-binary==2.8.5
PyJWT==1.7.1
pytz==2020.1
sqlparse==0.3.1 
