<!doctype html>
<html lang="ru">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %} {% endblock %}</title>
        {% load static %}
        {% if section == 'follow' %}
            <link rel="stylesheet" href="{% static './pages/myFollow.css' %}">
        {% endif %}
        {% if section == 'shoplist' %}
            <link rel="stylesheet" href="{% static './pages/shopList.css' %}">
        {% endif %}
        {% if section == 'recipe' %}
            <link rel="stylesheet" href="{% static './pages/single.css' %}">
        {% else %}
            <link rel="stylesheet" href="{% static './pages/index.css' %}">
            <link rel="stylesheet" href="{% static './pages/form.css' %}">
        {% endif %}
            
        <link rel="icon" href="data:;base64,=">
    </head>

    <body class="body">
        <header class="header">
            {% include 'recipes/blocks/nav.html' %}
        </header>
        <main class="main container">
            <div class="main__header">
                <h1 class="main__title">{% if section != 'recipe' %}{% block header %} {% endblock %}{% endif %}</h1>
                {% if section == 'index' or section == 'favorite' or section == 'profile' %}
                    <ul class="tags">
                        {% for tag in users_tags %}
                            <li class="tags__item">
                                {% if tag.active %}
                                    <a id="{{ tag.tag.id }}" class="tags__checkbox tags__checkbox_style_{{ tag.tag.color }} tags__checkbox_active" href="?tag={{ tag.tag.tag }}&swch=off"></a>
                                {% else %}
                                    <a id="tag.tag" class="tags__checkbox tags__checkbox_style_{{ tag.tag.color }}" href="?tag={{ tag.tag.tag }}&swch=on"></a>    
                                {% endif %}
                                <span class="tags__label">{{ tag.tag.description }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            
            {% block content %}
            {% csrf_token %}
                <!-- Содержимое страницы -->
            {% endblock %}

            {% if section == 'index' or section == 'favorite' or section == 'follow' or section ==  'profile' %}
                {% include 'recipes/blocks/paginator.html' %}
            {% endif %}
        </main>
        {% include 'recipes/blocks/footer.html' %}
        {% include 'recipes/blocks/jsscripts.html' %}
    </body>
</html>
