{% extends "recipes/base.html" %}

{% block title %}Список покупок{% endblock %}

{% block header %}Список покупок{% endblock %}

{% block content %} 
    <div class="card-list card-list_column">
        <ul class="shopping-list">
            {% for purchase in purchases %}
                {% include 'recipes/blocks/purchase.html' %}
            {% endfor %}        
        </ul>
    </div>
    <a href="{% url 'download_shoplist' %}"><button class="button button_style_blue">Скачать список</button></a>
{% endblock %}